.liquiditySection {
  background-color: #ffefbc;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: #d7bfab;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
}

input[type="number"] {
  -webkit-appearance: none;

  background: transparent;
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Table.css */
.table-responsive {
  overflow-x: auto;
}

.tableStyle {
  border-collapse: collapse;
  min-width: 100%;
  color: #3b2621;
  background-color: #ffefbc;
  font-weight: 600;
}

.thStyle {
  background: #3b2621;
  font-weight: bold;
  padding: 8px 16px;
  color: #fff;
  height: 70px;
  text-align: left;
}

.tdStyle {
  padding: 8px 16px;
  border-bottom: 1px solid #9c9c9c;
  font-size: 0.8rem;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .tableStyle {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .tdStyle,
  .thStyle {
    padding: 2px 4px; /* Reduce padding for smaller screens */
  }

  .image {
    width: 1rem;
  }

  .UserImage {
    width: 1.4rem;
  }
}
@media (max-width: 430px) {
  .tableStyle {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .tdStyle,
  .thStyle {
    padding: 6px 4px; /* Reduce padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .image {
    width: 0.8rem;
  }

  .UserImage {
    width: 1.3rem;
  }
}

@media (max-width: 390px) {
  .tableStyle {
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .tdStyle,
  .thStyle {
    padding: 6px 4px; /* Reduce padding for smaller screens */
    font-size: 8.8px; /* Adjust font size for smaller screens */
  }

  .image {
    width: 0.8rem;
  }

  .UserImage {
    width: 1.3rem;
  }
}

@media screen and (min-width: 965px) {
  .inputContainer {
    width: 100%;
  }
}
