.formField {
  margin-top: 5rem;
}

.formField > * + * {
  margin-top: 2rem;
}

.formFieldContainer > * + * {
  margin-top: 2rem;
}

.recipient {
  color: #001039;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formInput {
  padding-left: 0.6875rem;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 0.1875rem;
  border: 1px solid rgba(100, 80, 224, 0.6);
  background: #e6eaf1;
  position: relative;
  font-size: 0.7rem;
  font-weight: 500;
  outline: none;
  font-style: normal;
}

.pasteAddress {
  position: relative;
}

.inputBtn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  color: #6450e0;
  align-items: center;
  gap: 0.3rem;
  padding-right: 0.5rem;
  transform: translateY(50%);
}
@media screen and (min-width: 968px) {
  .formField {
    margin-top: 0rem;
  }
  .formFieldContainer > * + * {
    margin-top: 0rem;
  }
  .formFieldContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
  }
}
